
<div class="container container-fluid">
    <div class="panel panel-heading"> 
        <h3>Roles</h3><!--  -->

        <div class="panel panel-body">
            <a routerLink="admin" routerLinkActive="active"><strong>Admin</strong></a> <!--Redirect to AdminComponent  -->
        </div>
        <div class="panel panel-body">
            <a routerLink="superadmin" routerLinkActive="active"><strong>Super Admin</strong></a> <!-- Route to SuperadminComponent -->
        </div>
        <div class="panel panel-body">
            <a routerLink="member" routerLinkActive="active"><strong>Member</strong></a><!--Route to <Member></Member>Component  -->
        </div>
    </div>

    <router-outlet></router-outlet>
</div>



